<h1>{{title }}</h1>
<p>Welcome to {{title }}</p>


<form id="nameForm" method="post" action="/name">
	<input type="text" name="name" class="playerName" placeholder="Enter name" />
	<button type="submit">Add player</button>
</form>