

  <h1>{{title }}</h1>
  <p>Welcome to {{title }}</p>


  <form class="nameForm" method="post" action="/">
  	<input type="text" name="name" class="playerName" placeholder="Enter name" />
  	<button type="submit">Add player</button>
  </form>